
.rd1{
    background-color: #2b2b7b;
    height: 90px;
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.sd1{
   padding-top: 30px;
    height: 100%;
    width:260px;  
    padding-left: 50px;
   
}



.btn-success:hover {background-color:#2196F3!important;;}

.btn-success {
    color: #fff;
    background-color: #4006F0!important;
    border-color: #2023D3!important;
    padding-top: 40px;
}
.sd2{
    padding-top: 30px!important; 
}
.con{
    width: 500px!important;
    height: 400px;background-color: darkgray;
    margin-top: 80px;

}

.txt{
    background-color: #4006F0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
    padding-top: 10px;
    margin-top: 10px;
}
#label{
    color: #fff;
}
.d1{
    padding-left: 40px;
    padding-top: 50px !important;
    color: #F5CA79;
    font-size: 18px;

}
.d2{
    padding-right: 20px !important;;
    padding-bottom: 20px  !important;;
}
.d3{
    padding-right: 20px  !important;;
    padding-bottom: 20px  !important;;
}

.d4{
    padding-right: 10px  !important;;
    padding-bottom: 30px !important;;
}

.d5{
    padding-top: 50px;
    padding-left: 146px;
}
.cont{
    
    padding-top: 20px;
    padding-left: 50px;
}