/*home*/

.first_section > .fp-tableCell h2,
.first_section > .fp-tableCell p {
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
} 

.first_section.active > .fp-tableCell h2,
.first_section.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.first_section.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.first_section.active > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}
/* .first_section > .fp-tableCell h2 {
	-webkit-transform: translateY(-1000px);
	        transform: translateY(-1000px);
	opacity: 2;
	-webkit-transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.first_section.active > .fp-tableCell h2 {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 0;
} 

.first_section > .fp-tableCell p {
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
	opacity: 0;
	-webkit-transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out;
	transition: transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .8s ease-in-out,
				-webkit-transform .8s cubic-bezier(0.16, 0.68, 0.43, 0.99);
} 

.first_section > .fp-tableCell p + p {
	-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
}

.first_section > .fp-tableCell p + p + p {
	-webkit-transform: translateX(0) translateY(0);
	        transform: translateX(0) translateY(0);
	-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
}

.first_section.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.first_section.active > .fp-tableCell p {
	-webkit-transition-delay: .1s;
	        transition-delay: .1s;
}
.first_section.active > .fp-tableCell p + p {
	-webkit-transition-delay: .60s;
	        transition-delay: .60s;
} 

.first_section.active > .fp-tableCell p + p + p {
	-webkit-transition-delay: .60s;
	        transition-delay: .60s;
} */

/* company */

.second-section  > .fp-tableCell h2,
.second-section  > .fp-tableCell p {
	-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.second-section.active  > .fp-tableCell h2,
.second-section.active  > .fp-tableCell p {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.second-section.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.second-section.active > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}

/*concept*/


.third-section  > .fp-tableCell h3,
.third-section > .fp-tableCell p {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.third-section.active  > .fp-tableCell h3,
.third-section.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.third-section.active  > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.third-section.active  > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}


/* solutions */

/* .fourth_para2 {
	animation-duration: 3s;
	animation-name: slidein;
      }
      
      @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%; 
	}
      
	to {
	  margin-left: 0%;
	  width: 100%;
	}
      }
      .fourth-section > .fp-tableCell h3
     {
	      -webkit-transform: translateY(-1000px);
		      transform: translateY(-1000px);
	      opacity: 0;
	       -webkit-transition: opacity .66s ease-in-out,
				      -webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	      transition: opacity .66s ease-in-out,
				      -webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	      transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				      opacity .66s ease-in-out;
	      transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				      opacity .66s ease-in-out,
				      -webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
      } 
      
      .fourth-section.active > .fp-tableCell h3
       {
	      -webkit-transform: translateY(0);
		      transform: translateY(0);
	      opacity: 1;
      }
      .fourth-section.active > .fp-tableCell h3 {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}*/


.fourth-section > .fp-tableCell h3,
.fourth-section > .fp-tableCell p {
	-webkit-transform: translateX(100%);
	        transform: translateX(100%);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
} 

.fourth-section.active > .fp-tableCell h3,
.fourth-section.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.fourth-section.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.fourth-section.active > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}
/* blog-section */

/* Slide 1 */
.blog-section > .fp-tableCell h2,
.blog-section > .fp-tableCell p {
	-webkit-transform: translateY(-1000px);
	        transform: translateY(-1000px);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.blog-section.active  > .fp-tableCell h2,
.blog-section.active  > .fp-tableCell p {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.blog-section.active  > .fp-tableCell h2 {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}

.blog-section.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.blog-section.active  > .fp-tableCell p + p {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

/* Slide 2 */
/* .blog-section .slide-two > .fp-tableCell h2,
.blog-section .slide-two > .fp-tableCell p {
	-webkit-transform: translateY(1000px);
	        transform: translateY(1000px);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.blog-section.active .slide-two.active > .fp-tableCell h2,
.blog-section.active .slide-two.active > .fp-tableCell p {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.blog-section.active .slide-two.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.blog-section.active .slide-two.active > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
} */

/* Slide 3 */
/* .blog-section .slide-three > .fp-tableCell h2,
.blog-section .slide-three > .fp-tableCell p {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.blog-section.active .slide-three.active > .fp-tableCell h2,
.blog-section.active .slide-three.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.blog-section.active .slide-three.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.blog-section.active .slide-three.active > .fp-tableCell p + p {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}
*/

/* portfolio */

.portfolio > .fp-tableCell h2,
.portfolio > .fp-tableCell p {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.portfolio.active > .fp-tableCell h2,
.portfolio.active > .fp-tableCell p {
	opacity: 1;
}

.portfolio.active > .fp-tableCell p {
	-webkit-transition-delay: .33s;
	        transition-delay: .33s;
}

.portfolio.active > .fp-tableCell p + p {
	-webkit-transition-delay: .66s;
	        transition-delay: .66s;
}






 


/* ========== SECTION 7 - content animation ========== */
.seventh-section > .fp-tableCell h5,
.seventh-section > .fp-tableCell p {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.seventh-section.active > .fp-tableCell h5,
.seventh-section.active > .fp-tableCell p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	opacity: 1;
}

.seventh-section.active > .fp-tableCell h5 {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
}

.seventh-section.active > .fp-tableCell h5 + h5 {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}
/* .seventh-section > .fp-tableCell h5,
.seventh-section> .fp-tableCell p {
	-webkit-transform: translateY(-1000px);
	        transform: translateY(-1000px);
	opacity: 0;
	 -webkit-transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out,
				-webkit-transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
} 

.seventh-section.active > .fp-tableCell h5,
.seventh-section.active > .fp-tableCell p {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.seventh-section.active > .fp-tableCell h5 {
	-webkit-transition-delay: .44s;
	        transition-delay: .44s;
}
.seventh-section.active > .fp-tableCell p {
	-webkit-transition-delay: .22s;
	        transition-delay: .22s;
} */



