/* First section */
body{
    overflow: hidden;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/Preloader_2.gif') center no-repeat #fff;
}
    .logo{
         width: 150px;
         padding-top: 15px;
         cursor: pointer;
    }
    .navs{
        padding-top: 10px;
        padding-left: 20px;
    }
    .nav a{
        text-decoration: none;
        color:#212121;
        background-color: transparent !important;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }
    .nav li.active>a, .nav a:hover{
      color:#f56073;
    }
    .nav li.active>a::before{
      content: " ";
      position: absolute;
      top: -10px;
      left: 20px;
      right: 20px;
      background: #3597c4;
      padding: 2px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .navbar-toggle {
        background-color: #dfdee0;
        border: 1px solid rgb(177, 177, 179);
        margin-top: 18px;
    }
    .navbar-toggle .icon-bar {
        background: black;
    }
    .navbar-collapse {
        background: white !important;
    }
    #fullpage{
        background: white;
    }
   /* ---- particles.js container ---- */
    #particles-js{
        position: absolute;
        z-index:0;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width: 100%;
        height: 100%;
        background: #04425a;
        /* background-image: url('../img/background.png');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat; */
        animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s;
    }

    @keyframes colorchange
    {
      0%   {background: #04425a;}
      25%  {background: #1e5468;}
      50%  {background: #466774;}
      75%  {background: #459fc1;}
      100% {background: #04425a;}
      /*0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}*/
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }
    .social-icons .fa {

	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
    }
    .social-icons.icon-circle .fa{
        border-radius: 50%;
    }
    .social-icons.icon-rounded .fa{
	    border-radius:5px;
    }
    .social-icons.icon-flat .fa{
	    border-radius: 0;
    }
    .social-icons .fa:hover, .social-icons .fa:active {
        color: #FFF;
        background-color: hsl(187, 72%, 37%);
	    -webkit-box-shadow: 1px 1px 3px #333;
	    -moz-box-shadow: 1px 1px 3px #333;
	    box-shadow: 1px 1px 3px #333;
    }
    .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	    -webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
    }

    .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	    -webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
    }
    .first_row{
        background-color: white;
        height:70px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .first_con{
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        display: table;
        height: 100vh;
    }
     .img_parent{
        display: table;
        height: 100vh;
     }

     .child {
        display: table-cell;
        vertical-align: middle;
    }
    .land{
        padding-top: 70px;
    }
     .first_content{
         color:white;
         font-family: 'Open Sans', sans-serif;
         z-index: 5;
    }
    .heading {
        font-size: 34px;
    }
     .first_para {
        text-align: justify;
        font-size: 19px;
        line-height: 40px;
    }
    .landing_img{
        position: relative;
        text-align: center;
        margin :0px auto;
        z-index: 5;
    }
    .landing-img:hover {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .landing-img {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    .img3{
         padding-top: 50px;
         padding-left: 50px;
    }
    .img3:hover {
        -webkit-transform: translate(20px,-50px);
        transform: translate(20px,-50px);
        opacity: 0.4;
    }
    .img3 {
        opacity: 1;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    .fa-icons{
        padding-left: 70px;
    }
    .icon-background{
        color: hsl(182, 77%, 32%);
    }
    .icons{
        font-size: 26px;
        padding-left: 0px;
        padding-right: 450px;
        padding-top: 20px;
    }
    .second-section{
        height: 100vh;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
    }

    .img_exp{
        margin :0px auto;
        width: 150px;
        height:150px;
        position: relative;
        border-radius: 316px;
        border: 2px solid hsl(187, 72%, 37%);
    }
    .span_icn{
        font-size: 80px;
        position: relative;
        top: 35px;
        margin: 0px auto;
        color: hsl(187, 72%, 37%);
        font-weight: 200;
    }
    #expertise-owl .owl-item .img_exp:hover{
        background-color: #f47e8c;
        border: 0px solid #f47e8c;
        cursor: pointer;
    }
    #expertise-owl .owl-item .img_exp:hover .span_icn{
        color:white;
    }
/*
    #expertise-owl .owl-item.center .img_exp{
        width: 150px;
        height:150px;
        border-radius: 316px;
        border: 0px solid #f47e8c;
    } */
    /* #expertise-owl .owl-item.center .span_icn{ */
        /* font-size: 80px;
        position: relative;
        top: 35px;
        margin: 0px auto;
        font-weight: 200; */
        /* color:white;
    }
     */
    #expertise-owl .owl-item .img_exp{

     fill: hsl(187, 72%, 37%);
     }
     /* #expertise-owl .owl-item.center .img_exp{


         background-color: #f47e8c;
     } */


    /* #expertise-owl .img_exp{
        width: 160px;
        border-radius: 316px;
        border: 4px solid hsl(187, 72%, 37%);
        margin: 0px auto;
        padding: 1.7em;
    } */

    /* #expertise-owl .owl-item  {
        padding-top: 10px;
        padding-bottom: 10px;}

    #expertise-owl .owl-item.center:hover{
        -webkit-box-shadow: 0px 0px 15px 5px rgba(252, 212, 212, 0.75);
        box-shadow: 0px 0px 15px 5px rgba(243, 172, 172, 0.75);
        }
    #expertise-owl .owl-item.center  {
        -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, .75);
        box-shadow: 0px 0px 15px 3px rgba(212, 196, 196, 0.75);
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        }  */
    .item_cont{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* #expertise-owl .owl-item.center .img_exp{
        width: 160px;
        border-radius: 316px;
        border: 4px solid #f47e8c;
        padding: 1.7em;
    } */
    #expertise-owl .owl-stage-outer{
        display: block;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    #expertise-owl .owl-prev {
        position: absolute;
        top: 20%;
        margin-left: -25px;
        display: block!IMPORTANT;
        border:0px solid hsl(187, 72%, 37%);
    }
    #expertise-owl .owl-next {
        position: absolute;
        top: 20%;
        right: -25px;
        display: block!IMPORTANT;
        border:0px solid hsl(187, 72%, 37%);
    }
    #expertise-owl .owl-prev i, .owl-next i {
        transform : scale(2,2); color: hsl(187, 72%, 37%);
    }
    #expertise-owl .owl-item.center .exp_head{
        color: #f47e8c;
    }
    .exp{
        color:hsl(187, 72%, 37%);
        padding-top: 30px;
        text-align: justify;
    }
    .exp_p{
        line-height: 26px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .third-section{
        background-color: #e7e7e7;
        font-family: 'Open Sans', sans-serif;
    }
    .third_para1 {
        font-size: 23px;
        padding-top: 180px;
    }
    .third_para2 {
        font-size: 16px;
        padding-top: 10px;
        text-align: justify;
        line-height: 35px;
    }
    .img2{
        padding-top: 80px;
        padding-left: 40px;
    }
    .fourth-section{
        background: linear-gradient(to right, #184e7d  0%, #0cd0b8 70%);
        font-family: 'Open Sans', sans-serif;
        color:white;
    }
    .content_img{
        padding-top: 45px;
    }
    .solution_icon{
        padding-top: 110px;
    }
    .soution_row1{
        padding-top: 50px;
    }
    .solution_para{
        padding-top: 170px;
    }
    .icon1{
        text-align: -webkit-center;
    }
    .icon2{
        text-align: -webkit-right;
        margin-left:-25px;
    }
    .icon3{
        text-align: -webkit-left;
        padding-left: 60px;
    }
    .icon4{
        text-align: -webkit-right;
    }
    .icon5
    {
        text-align: -webkit-center;
    }
    .icon6{
        text-align: -webkit-left;
    }
    .icon7{
        text-align: -webkit-right;
        margin-left:-25px;
    }
    .icon8{
        text-align: -webkit-left;
        padding-left: 55px;
    }
    .icon9{
        text-align: -webkit-center;
    }
    .icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,.icon9{
        -webkit-transition:all 0.5s ease-out;
        -moz-transition:all 0.5s ease-out;
        -ms-transition:all 0.5s ease-out;
        -o-transition:all 0.5s ease-out;
        transition:all 0.5s ease-out;
    }
    .icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover,.icon5:hover,.icon6:hover,.icon7:hover,.icon8:hover,.icon9:hover {
        -webkit-transform:scale(1.3);
        -moz-transform:scale(1.3);
        -ms-transform:scale(1.3);
        -o-transform:scale(1.3);
        transform:scale(1.3);
    }
    .fourth_para1 {
        font-size: 23px;
        padding-top: 260px;
    }
    .fourth_para2 {
        font-size: 16px;
        padding-top: 30px;
        text-align: justify;
        line-height: 35px;
    }
    .graph-section{
        background-color: white;
        font-family: 'Open Sans', sans-serif;
    }
    /* blog */
    .blog-section{

        /* background-color: #e8e6e7; */
        background: linear-gradient(to right, #184e7d  0%, #0cd0b8 70%);
        font-family: 'Open Sans', sans-serif;
        color:white;
    }
    .blog{
        font-size: 35px;
        text-align: center;
        font-weight: 700px;
        margin-top: 0px;
    }
    .blog_head{
        width: 150px;
        text-align: center;
    }
    .img_blog{
        margin: 0px auto;
        width: 134px;
        border-radius: 316px;
        border: 4px solid white ;
        /* border: 4px solid #f47e8c ; */
        opacity: 0.2;
    }
    .con_img{
        height:128px;
        width:128px;
    }
    h4 {
        font-size: 15px;
        font-weight: 700;
    }
    #blog-owl .owl-item.center .img_blog {
        opacity: 0.9;
    }
    #blog-owl .owl-item .contnt {
        display:none;
    }
    #blog-owl .owl-item.center .contnt {
        display:block;
        text-align: center;
    }
    .blog_para {
        padding-top: 50px;
        line-height: 30px;
        font-size: 16px;
    }
    .contnt{
       padding-top: 30px;
        position: relative;
    }
    #blog-owl .owl-carousel .owl-stage-outer{
       padding-left: 100px;
    }
    #blog-owl .owl-nav.disabled+.owl-dots {
        margin-top: 30px;
        display: block;
    }
    #blog-owl .owl-carousel .owl-dot {
        border-radius: 50px;
        height: 10px;
        width: 10px;
        display: inline-block;
        background: rgba(127,127,127, 0.5);
        margin-left: 5px;
        margin-right: 5px;
    }

    #blog-owl .owl-carousel .owl-dot.active {
        background: rgba(127,127,127, 1);
    }
    /*  portfolio */
    .portfolio{
        /* background: linear-gradient(to right, #147890  0%,  #0de8b5 95%); */
        background-color: #e7e7e7;
        color:black;
        font-family: 'Open Sans', sans-serif;
    }
    .portfolio_image_first{
        padding-top: 1px;
        margin-left: -15px;
    }
    .portfolio_image_sec{
        padding-left: 0px;
        margin-top: -3px;
    }
    .portfolio_head{
            padding-top: 70px;
            text-align: center;
    }
    .portfolio_para{
        padding-top: 10px;
        line-height: 30px;
        font-size: 17px;
        text-align: center;
    }
    .bubble-holder{
        position: relative;
        width: 100vw;
        height: 70vh;
    }
    #bubbles {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    .portfolio_para2{
        padding-top: 180px;
        padding-left: 45px;
        padding-right: 55px;
        line-height: 30px;
        font-size: 17px;
        text-align: justify;

    }
    /* ..... */
    .sixth_row{
        padding-top: 70px;
        line-height: 40px;
        font-size: 23px;

    }
    .line{
        padding-top: 20px;
        font-weight: 900;
        font-size: 35px;
    }
    .line1{
        padding-top: 0px;
        font-weight: 900;
        font-size: 35px;
    }
    .box{box-shadow: 11px 2px 12px -14px black;
    }
    .img_group{
        height: 120px;
        width: 120px;
        margin: 0px auto;
        position: relative;
    }
    .img6{
        height: 100px;
        width: 100px;
        margin: 0px auto;
        position: relative;
    }
    .seventh-section{
        background: linear-gradient(to right, #0eb8ad  0%,  #174e7e 100%);
        font-family: 'Open Sans', sans-serif;
        color:white;
    }
    .h_contact{
        margin-left: 115px;
        text-align: justify;
    }
    .heading {
        font-size: 29px;
    }
    .cont{
        padding-left: 150px;
        line-height: 35px;
    }
    .inpt,.texta{
        width:80%;
        padding: 10px 3px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #fff;
        outline: none;
        font-size: 14px;
    }
    textarea.texta{
      max-width: 80%;
      min-width: 80%;
      max-height: 100px !important;
      min-height: 100px !important;
      height: 100px !important;
    }
    input::placeholder{
        color:#eae6e6;
        text-align: left!important;
        padding-bottom: 15px;
    }
    textarea::placeholder {
        color:#eae6e6;
        text-align: left!important;
    }
    .relative{
      position: relative;
    }
    .relative > label.error{
      position: absolute;
      top: 10px;
      right: 114px;
      background: #f45366;
      font-size: 13px;
      color: #840a0a;
      padding: 3px 10px;
      display: block;
      font-weight: normal;
      margin-bottom: 0;
      border: 1px solid #E53935;
      border-radius: 3px;
    }
    .btn{
        float: right;
        padding-right: 112px;
    }
    .send{
      border: none;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 2px;
      background-color: #75c1dc;
      color: #0e406b;
      font-weight: bold;
    }
    .loc{
        padding-top: 10px;
    }
    .frw {
        padding-left: 200px;
        padding-top: 60px;
        padding-right: 200px;
    }
    .ffrw{
        padding-top: 20px;
        font-size: 24px;
    }
    .frrw_st{
        margin-left:-50px!important;
        margin-right:25px!important;
    }
    .contact{
        padding-left: 15px;
        font-size: 17px;
    }
    .network_content{

        padding-top:5%;
    }
    .m_img{
        margin:0px auto;
    }
    /* Effect 1: Fade in and scale up */
    .md-effect-1 .modal-dialog {
    	-webkit-transform: scale(0.7);
    	-moz-transform: scale(0.7);
    	-ms-transform: scale(0.7);
    	transform: scale(0.7);
    	opacity: 0;
    	-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
    }

    .md-effect-1.in .modal-dialog {
    	-webkit-transform: scale(1);
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	transform: scale(1);
    	opacity: 1;
    }
    /*.modal-dialog {
        width: 50%;
        height: 70%;
         margin: 0 auto;
        padding: 0;
    }*/
    .m-header{
        background: linear-gradient(to right, #0eb8ad  0%,  #2178c3 100%);
        font-family: 'Open Sans', sans-serif;
        color:rgb(255, 255, 255);
        text-align: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .modal-title{
      text-align: left;
      font-size: 20px;
    }
    .m-header .close {
        margin-top: -32px;
        color:white;
        z-index: 10;
    }

    .modal_para {
        line-height: 25px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        padding-left: 18px;
    }

    .m-content {
        background:  #e8e6e7;
        color: black;
        font-family: 'Open Sans', sans-serif;
        height: auto;
        min-height: 100%;
        border-radius: 6px;
    }
    .cdm_one{
        font-family: 'open-sans';
        font-size: 16px;

    }
    .cdm_two{
        background: linear-gradient(to right, #e8e6e7  0%,  #ffffff 100%);
        padding-right: 0px;
    }
    .read_more{
      color:#f47e8c;
      padding-left: 7px;
    }
    .read_more:hover{
      text-decoration: none;
      color:#d44657;
    }
    #header {
        /*position : fixed;*/
        top : 0px;
        width : 100%;
        height : 50px;
        background: linear-gradient(to right, #10b0aa  30%,  #165c85 100%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .title{
        color:white;
    }
    #header .close {
        margin-top: -22px;
        color:white;
        z-index: 10;
    }
    .modal ul {
        list-style: none;
    }
    .modal li {
        position: relative;
    }
    .modal ul li:before {
        content: "•";
        position: absolute;
        font-weight: bolder;
        left: -1em;
        color: #10b0aa;
    }
    .ems{
        background: linear-gradient(to right, #e8e7e6  0%,  #ffffff 100%);
        border-top: 1px solid #eeeeee;
        margin-right: -20px;
        padding-right: 15px;
        /*width: 100vh;*/
    }
    .deep1{
        background: linear-gradient(to right, #e8e7e6  0%,  #ffffff 100%);
        border-bottom: 1px solid #eeeeee;
        /*width: 100vh;*/
    }
    .deep2{
        background: linear-gradient(to right, #10b0aa  20%,  rgba(232, 231, 230, 0) 100%);
        height:50px;
        width:70%;
        padding-left: 20px;
        margin-left: -15px;
    }
    .deep2.white{
      background: linear-gradient(to right, #10b0aa  20%,  #f7f7f7 100%);
    }
    .bdata2{
        background: linear-gradient(to right, #10b0aa  30%,  #e8e7e6 100%);
        height:50px;
        width:400px;
        padding-left: 20px;
        margin-left: -15px;
    }
    .bdata{
        background: linear-gradient(to right, #e8e7e6  0%,  #ffffff 100%);
        border-bottom: 1px solid #eeeeee;
        width: 100vh;
    }
   .ds{
       background: #ffffff;
   }
    .deep{
        background: #e8e7e6;
    }
    .machine{
        background: linear-gradient(to right, #e8e7e6  0%,  #ffffff 100%);
        border-top: 1px solid #eeeeee;
        width: 100vh;
    }
    .predictive{
        background: linear-gradient(to right, #e8e7e6  0%,  #ffffff 100%);
        width: 100vh;
    }
    @media (min-width: 768px){
      .modal-dialog {
          width: 90%;
          margin: 5px auto;
      }
    }
    #content{
        /*margin-top : 54px;*/
        background:#e8e6e7;
        /*padding-left: 8px;*/
        font-size: 14px;
        line-height:25px;
        /*font-weight: 200px;*/
        font-family: 'Open Sans', sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;
        height:90vh;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .heads{
        font-size: 30px;
    }
@media  (max-width: 1024px) {
    .first_para {
        font-size: 17px;
        line-height: 35px;
    }
    .icons {
        font-size:20px;
        padding-right: 289px;
    }
    .landing_img {
        height: 314px;
    }
    .exp_para {
        line-height: 18px;
    }
    .exp{
        padding-top: 10px;
    }
    .exp_h {
        line-height: 36px;
        padding-top: 40px;
        font-size: 26px;
    }
    .exp_cont {
        padding-top: 22px;
    }
    #expertise-owl .owl-prev {
        margin-left: 25px;
    }

    #expertise-owl .owl-next {

        right: 25px;
    }
    .img2 {
        padding-left: 20px;
        height:500px;
    }
    .solution_para{
    margin-left: -46px;
    }
    .fourth_para1 {
        font-size: 23px;
        padding-top: 160px;
        margin-left: -55px;
    }
    .fourth_para2 {
        margin-left: -43px;
    }
    .img3{
        padding-left: 129px;
        height:350px;
        padding-top: 80px;
    }
    .third_para1 {
        font-size: 23px;
        padding-top: 180px;

    }
    .content_img{
        padding-top: 50px;
    }
    .blog_para {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 35px;
        line-height: 25px;

    }
    .blog {
        padding-top: 40px;
    }
    .portfolio_image_first {
        height: 382px;
        padding-top: 0px;
    }
    .portfolio_image_sec {
        padding-left: 0px;
        margin-top: -2px;
        width: 512px;
    }

    .cont {
        padding-left: 150px;
        line-height: 13px;
    }
    .heads{
    font-size: 30px;
    }
    .btn {
        float: right;
        padding-right: 159px;
    }
    .h_contact {
        padding-top: 60px;
    }
    .portfolio_head{
            padding-top: 50px;
    }
    .portfolio_para{
                padding-top: 0px;
    }
    .solution_para{
        padding-top: 190px;
    }
    .solution_icon {
            padding-top: 80px;
    }

    .modal_para {
        line-height: 20px;
        font-size: 13px;
        padding-left: 10px;

    }
    .h_contact{
        margin-left: 95px;
    }
    #head{
            font-size: 20px;
    }
    .desc{
        width:300px;
    }

}
@media(max-width:767px) and (min-width: 425px){
    .first_row{
        padding-right: 0px;
        padding-left: 0px;
    }
    .num {
        font-size: 16px;
        font-weight: bold;
    }
    /* .navbar-collapse{
        margin-left: -65px;
    } */
    .logo {
        padding-left: 15px!important;
    }
    .fourth_para2 {
        font-size: 14px!important;
    }
}
@media  (max-width: 768px) {
    .icons {
            font-size: 20px;
            padding-right: 234px;
    }
    .logo {
       padding-left: 0px;
    }
    .network_content{
        padding-top:0px;
    }
    #expertise-owl .owl-prev{
        top:30%;
    }
    #expertise-owl .owl-next{
        top:30%;
    }
    .first_para {
        font-size: 14px;
        line-height: 23px;
    }
    .heading {
        font-size: 25px;
    }
    .img3 {
        padding-top: 54px;
        padding-left: 30px;
        height:300px;

    }
    .third_para1 {
        font-size: 23px;
        padding-top: 143px;
    }
    .img2{
        padding-left: 5px;
    }
    .heads{
        font-size: 23px;

    }
    .fourth_para1 {
        font-size: 23px;
        padding-top: 170px;
        margin-left: -16px;
    }
    .fourth_para2 {
        font-size: 16px;
        padding-top: 20px;
        margin-left: -16px;
        line-height: 25px;
    }
    .blog {
        padding-top: 60px;
    }

    .portfolio_image_sec {
        padding-left: 0px;
        margin-top: 0px;
        width: 383px;
        height:250px;

    }
    .portfolio_image_first {
        height: 382px;
        padding-top: 0px;
    }
    .portfolio_para {
        padding-top: 0px;
        padding-left: 45px;
        padding-right: 45px;
        line-height: 25px;
        font-size: 16px;
        text-align: justify;
    }
    .portfolio_para2 {
        padding-top: 50px;
        padding-left: 45px;
        padding-right: 55px;
        line-height: 25px;
        font-size: 17px;
        text-align: justify;
    }
    .cont {
        padding-left: 5px;
        line-height: 13px;
    }
    .loc{
        font-size: 12px;
    }
    .modal_para {
        line-height: 22px;
        font-size: 14px;
        padding-left: 0px;
    }
    #head{
        font-size: 18px;
    }
    .solution_para{
        padding-left: 30px;
        padding-top: 140px;
    }
    .exp_para {
        line-height: 18px;
        font-size: 13px;
    }
    .contnt {
        font-size:14px;

    }
    #blog-owl {

        margin-top: -22px;
    }
    #blog-owl .owl-nav.disabled+.owl-dots {
        margin-top: 8px;

    }
    .btn {
        float: right;
        padding-right: 0px;
    }
    .hd{
        padding-right: 30px;
    }
    .h_contact{
        margin-left: -2px!important;
    }
    .frw {
        padding-left: 180px;
        padding-top: 60px;
        padding-right: 180px;
    }
    .ffrw {

        font-size: 20px;
    }
}
@media  (max-width: 425px) and (min-width: 375px){

    .modal_para {
        line-height: 20px;
        font-size: 13px;
        padding-left: 0px;
    }
    #head{
        font-size: 18px;
    }
    .second_row {
        margin-left: 2px;
        margin-right: 0px;
    }
    .land{
        padding-top: 10px;
    }
    .paraph {
        font-size: 26px;
    }
    .landing_img {
        height:183px;
    }
    .first_para {
        font-size: 10px;
        line-height: 23px;
    }
    .heading{
        font-size: 19px;
    }
    .icons {
        font-size: 14px;
        padding-right: 105px;
    }


    .landing-img {
        width: 260px;
        height: 350px;
        padding-top: 80px;
    }

    .exp_h {
        line-height: 40px;
        font-size: 21px;
        padding-top: 40px;
    }

    .img3 {
        padding-top: 86px!important;
        padding-left: 5px;
        height: 256px;
    }
    .third_para2 {
        font-size: 13px;

        line-height: 25px;
    }
    .content_img{
        padding-top: 35px;
    }
    .third_para1  {
        font-size: 20px;
        padding-top: 30px;
    }
    .heads{
        font-size: 25px;

    }
    .cont {
        padding-left: 2px;
        line-height: 13px;
    }
    .frw {

        padding-top: 70px;
        padding-left:0px;
        padding-right: 0px;

    }
    .ffrw{
        padding-top: 30px;
        padding-left:0px!important;
        padding-right: 0px!important;
    }
    .frrw_st{
        margin-left:0px!important;
        margin-right:25px!important;
    }
    .img2 {
        height: 450px;
        padding-top:110px;
    }
    .fourth_para1 {
        font-size: 22px;
        padding-top: 110px;

    }
    .loc {
        line-height: 20px;
        text-align: justify;
    }
    .portfolio_para {
        line-height: 20px;
        font-size: 13px;
    }
    .portfolio_head{
        font-size: 20px;
    }

    .h_contact {
        padding-top: 60px;
    }
    .contact {
        padding-left: 10px;
        font-size: 14px;
    }
    .sixth_row {
        padding-top: 12px;
        line-height: 40px;
        font-size: 18px;
    }
    .blog h2{
        font-size: 22px;
    }
    .blog_para {
        width:500px;
        margin-left:-900px;
        padding-top: 35px;
        line-height: 25px;
    }
    #blog_owl .owl-nav{
        display: none;
    }
    .exp_para{
        width: 250px;
        padding-left: 0px;
        font-size: 13px;

    }
    .exp_para1{
        padding-left: 25px;
        padding-right: 25px;}
    .blog_head {
        width: 136px;
        text-align: center;
    }
    .exp{
        padding-top: 10px;
    }
    #expertise-owl .owl-prev {
        display:block;
    }
    .solution_para {
        padding-top: 75px;
        font-size: 20px;
    }
    .btn {
        float: right;
        padding-right: 0px;
    }
    .icon2 {
        height: 35px;
        width: 68px;
        margin-left: 10px;
    }
    .icon8 {
        padding-left: 34px;
        width: 89px;
    }
    .icon9 {
        height: 20px;
        width: 134px!important;
        padding-left: 68px;
    }
    .icon7 {
        height: 46px;
        margin-left: 15px;
        width: 71px;
    }
    .icon3 {
        text-align: -webkit-left;
        padding-left: 49px;
    }
    .icon1 {
        height: 30px;
        width: 73px;
        margin-left: 55px;
    }
    .fourth_para2 {
        font-size: 13px!important;

    }
}

@media (max-width: 375px) and  (min-width: 320px)  {
  .logo{
      margin-left:-40px;
  }
  .navbar-toggle{
    margin-right:-40px!important;
  }
    .first_para {
        font-size: 10px!important;
        line-height: 23px;
    }
    .landing_img {
        height: 150px;
    }

    .exp_para {
        width: 227px;
    }
    .heading{
    font-size: 16px;
    }
    .img3 {
        padding-top: 130px!important;
        padding-left: 0px;
        height: 280px;
    }
    .content_img{
        padding-top: 90px;
    }
    .third_para2 {
        line-height: 23px;
    }
    .icon2 {
        height: 35px;
        width: 75px;
        margin-left: 10px;
    }
    .icon1 {
        height: 60px;
        width: 82px;
        margin-left: 55px;
    }
    .solution_para {
        margin-left: -50px;
        padding-top: 58px;
    }
    .line1 {
        font-weight: 700;
    }
    .line {
        font-weight: 700;
    }
    .img_group {
        height: 118px;
        width: 106px;
    }
    .img6 {
        height: 99px;
        width: 90px;
    }
    .btn {
        float: right;
        padding-right: 0px;
    }
    .cont {
        padding-left: 5px;
        line-height: 13px;
    }
    .frw {
        padding-top: 70px;
        padding-left:0px;
        padding-right: 0px;
    }
    .ffrw {
        padding-top: 20px;
        font-size: 18px;
    }
    .modal_para {
        line-height: 20px;
        font-size: 12px;

        padding-left: 0px;
    }
    #head{
        font-size: 18px;
    }
    .contact {
        padding-left: 10px;
    }
    .heading {
        font-size: 16px;

    }
    .second_row {
        padding-left:0px;
        padding-top: 70px;
    }

    .fourth_para2 {
        margin-left: -20px;
        line-height: 25px;
    }
    .heads{
        font-size: 22px;

    }
    .h_contact {
        margin-left: 0px;
    }

}
@media  (max-width: 320px){
    .logo{
        margin-left: -40px;
    }
    .heading {
        font-size: 13px!important;
    }
    .first_para {
        font-size: 9px!important;
        line-height: 20px;
    }
    .land {
        padding-top: 0px;
    }
    .exp_h {
        font-size: 24px;
        padding-top: 35px;
    }
    .landing_img {
        height: 130px;
    }
    .third_para2 {
        line-height: 19px;
        font-size: 11px;
    }
    .content_img{
        padding-top: 115px;
    }
    .img3 {
        padding-top: 115px;
        padding-left: 0px;
        height: 260px;
    }
    .fourth_para2 {
        font-size: 10px;
        line-height: 20px;
    }
    .third_para1{
        font-size: 21px;
        padding-top: 50px;
    }
    .blog_head {
        width: 132px;
        text-align: center;
    }
    .exp_para {
        width: 206px;
        padding-left: 15px;
    }
    .solution_para{
        font-size: 21px;
        padding-top: 60px;
    }
    .hd{
        font-size: 13px;
    }
    .btn {
        padding-right: 0px;
    }
    .portfolio_para {
        padding-top: 10px;
        line-height: 25px;
        font-size: 13px;
        text-align: center;
    }
    .portfolio_head {
        padding-top: 64px;
        font-size: 21px;
    }
    .exp_p {
        line-height: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
    }
    .sixth_row {
        padding-top: 20px;
        line-height: 40px;
        font-size: 23px;
    }
    .exp_h{
        font-size: 24px;
    }
    .contact {
        padding-left: 8px;
        font-size: 11px;
    }
    .heads{
        font-size: 19px;
    }
    .cont {
        padding-left: 2px;
        line-height: 13px;
    }
    .h_contact{
        padding-top: 50px;
    }
    .frw {

        padding-top: 45px;
        padding-left:0px;
        padding-right: 0px;

    }
    .ffrw{
        padding-top: 30px;
        padding-left:0px!important;
        padding-right: 0px!important;
    }
    .frrw_st{
        margin-left:0px!important;
        margin-right:25px!important;
    }
    .line1{
        font-size: 30px;
        font-weight: 900;
    }
    .line{
        font-size: 30px;
        font-weight: 900;
    }
    .img_group {
        height: 119px;
        width: 91px;
    }
    .modal_para {
        padding-left: 0px;
        font-size: 12px;
        line-height: 20px;
    }
    #head{
        font-size: 18px;
    }
    .img6 {
        height: 98px;
        width: 89px;
    }
    .num {
        font-size: 14px;
        font-weight: bold;
    }
    .send{
        font-size: 16px;
    }
    .icon2 {
        height: 35px;
        width: 60px;
        margin-left: 10px;
    }
    .icon1 {
        height: 30px;
        width: 60px;
        margin-left: 55px;
    }
    .icon3 {
        text-align: -webkit-left;
        padding-left: 20px;
        width: 68px;
    }
    .icon7 {
        height: 45px;
        margin-left: 15px;
        width: 61px;
    }
    .icon8 {
        padding-left: 34px;
    }
    .icon9 {
        height: 20px;
        padding-left: 65px;
        /* text-align: -webkit-center; */
        width: 118px;
    }
}
