/* Animation on first page */
.bgimg{
	margin:0;
	padding:0;
	
    /* background: url(../img/ee.jpg) repeat 5% 5%; */
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
	background-repeat: repeat-x;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}


#background {
	background: url(../img/background.png) repeat 5% 5%;
	/* background: url(../img/back4.jpg) repeat 5% 5%; */
	position: absolute;

	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
	/* animation: 60s linear 0s normal none infinite animate; */
	background-size: cover;
	/* animation: 40s alternate-reverse animate; */
}

#midground {
	background: url(../img/star-02.png) repeat 90% 110%; 
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 2;
	animation: 20s linear 0s normal none infinite animate;
	background-size: contain;
	
}

#foreground {
	background: url(../img/star-02.png) repeat 90% 110%;
	background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 3;
	animation: 50s linear 0s normal none infinite animate;
}
/* <script>
$(function(){
	
	  $('#midground').css({backgroundPosition: '0px 0px'});
	  $('#foreground').css({backgroundPosition: '0px 0px'});
	  $('#background').css({backgroundPosition: '0px 0px'});
	
		$('#midground').animate({
			backgroundPosition:"(-10000px -2000px)"
		}, 240000, 'linear');
		
		$('#foreground').animate({
			backgroundPosition:"(-10000px -2000px)"
		}, 120000, 'linear');
		
		$('#background').animate({
			backgroundPosition:"(-10000px -2000px)"
		}, 480000, 'linear');
		
	});
</script> */